<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Power assurance Check PT6T-3B (Hover)</h1>
    </header>
    <div id="Pwr-Assurance">
      <div>
        <label for="Torque"> Torque:</label>
        <input type="number" v-model="torque" />
      </div>
      <div>
        <label for="QNH">QNH:</label>
        <input type="number" v-model="qnh" />
      </div>
      <div>
        <select v-model="QNHUnit">
          <option value="hPa">hPa</option>
          <option value="in.Hg">in.Hg</option>
        </select>
      </div>
      <div>
        <label for="IA">Indicated Altitude:</label>
        <input type="number" v-model="IA" />
      </div>
      <div>
        <label for="FAT">FAT:</label>
        <input type="number" v-model="fat" />
      </div>
      <button @click="CalculateN1">Calculate</button>
      <div>
        <div class="row">
          <label><strong>Pressure Altitude:</strong></label>
          <p>{{ PA }}</p>
        </div>
        <div class="row">
          <label><strong>ITT:</strong></label>
          <p>{{ ITT }}</p>
        </div>
        <div class="row">
          <label><strong>N1:</strong></label>
          <p>{{ N1 }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
